@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

:root {
  --color-background: #3c3a39;
  --color-background-2: #1c1a19;
  --color-text-1: #fff;
  --color-text-2: #ff6b00;
  --color-text-3: #fff5e1;
  --font-family-1: "Roboto";
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header Section */

header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  width: 375px;
  background-color: var(--color-background);
  color: var(--color-text-1);
}

.logo {
  position: absolute;
  padding: 10px 12px;
  font-weight: 700;
  font-size: 18px;
}

header nav {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  right: 24px;
  top: calc(50% - 40px / 2);
}

/* Headline Section */

.headline {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 590px;
  left: 0;
  top: 92px;
  background: var(--color-background-2);
  background-image: url(./assets/imgs/Illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: var(--color-text-2);
}

.headline p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-1);
}

#headline-subheading {
  width: 327px;
  height: 27px;
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text-3);
}
